
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.page-common-style[data-v-1110512a]{padding:20px;margin:20px}.pageination-style[data-v-1110512a]{margin-top:20px}.button-group[data-v-1110512a]{margin-bottom:20px}.tag-style[data-v-1110512a]{margin-left:5px;margin-right:5px}.custom-tree-node[data-v-1110512a]{flex:1;display:flex;align-items:center;justify-content:space-between;font-size:14px;padding-right:8px}
