
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.actionbar[data-v-4af3e54d]{z-index:4;bottom:0;padding:20px;text-align:center;background-color:var(--g-app-bg);box-shadow:0 0 1px 0 var(--g-box-shadow-color);transition:all .3s,var(--el-transition-box-shadow)}.actionbar.shadow[data-v-4af3e54d]{box-shadow:0 -10px 10px -10px var(--g-box-shadow-color)}[data-v-4af3e54d] .el-form-item{margin-bottom:0}
