
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.page-common-style[data-v-f4296fe7]{padding:20px;margin:20px}.pageination-style[data-v-f4296fe7]{margin-top:20px}.button-group[data-v-f4296fe7]{margin-bottom:20px}.tag-style[data-v-f4296fe7]{margin-left:5px;margin-right:5px}
